html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

h1 {
    font-size: 8rem;
    background-color: orange;
    height: 40vh;
    text-align: center;
}

.Box {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    margin-top: 5rem;
}

.Box-Text {
    border: 1px solid black;
    width: 30%;
    text-align: center;
}