html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Silkscreen', cursive;
}

body {
    background-color: #A9A9A9;
}

img {
    margin: 20px 40px;
}

p {
    margin-bottom: 20px;
    font-size: 1em;
}

h2 {
    margin-top: 20px;
    font-size: 1em;
}

.Title {
    color: #FF3B3F;
    background-color: #efefef;
    padding: 100px 0px;
    text-align: center;
    position: relative;
    font-size: 8rem;
}

#Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: space-evenly;
}

.Box-Text {
    background-color: #EFEFEF;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px #CAEBF2;
    color: #FF3B3F; 
    align-items: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Box-Title {

}

.Box-Images {

}

.Box-Information {

}