html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Silkscreen', cursive;
}

body {
    background-color: #A9A9A9;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
}

h2 {
    margin-top: 15px;
    font-size: 1em;
}

.Title {
    color: #FF3B3F;
    background-color: #efefef;
    padding: 100px 0px;
    text-align: center;
    position: relative;
    font-size: 7rem;
    transition: all 1s;
}

.Title:hover {
    transform: scale(1.1);
}

#Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: space-evenly;
}

.Box-Text {
    background-color: #EFEFEF;
    border: 0.2rem solid black;
    box-shadow: 10px 10px 10px 10px #CAEBF2;
    color: #FF3B3F; 
    align-items: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
}

.Box-Text:hover {
    transform: scale(1.1);
}

.Box-Title {
    transition: all 0.5s;
}

.Box-Title:hover {
    color: #952123;
}

.Box-Images {
    margin: 15px 30px;
    outline-offset: 0.3rem;
    transition: all 0.3s;
}

.Box-Images:hover {
    outline: 0.2rem solid black;
}

.Box-Information {
    animation: Box-Information-Animation 10s infinite;
}

@keyframes Box-Information-Animation {
    0% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: purple;
    }
}